{% extends 'base.html' %}

{% block title %}Experience{% endblock title %}
{% load static %}


{% block content %}

<section class="experienc-section center-column">
    <h2>Experience/Education</h2>

    <div class="experience-list center-row">

        <div class="experience-card">

            <p>School name or company </p>
            <p>Course name or job position</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, nemo!</p>
            <p>month YYYY - month yyyy</p>

            <div class="experience-skills">
                <label class="text-label">skill 1</label>
                <label class="text-label">skill 2</label>
                <label class="text-label">skill 3</label>
                <label class="text-label">skill 4</label>
                <label class="text-label">skill 5</label>
            </div>
            </a>
        </div>

    </div>

</section>


{% endblock content %}