{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/base.css' %}">
    <link rel="stylesheet" href="{% static './css/header.css' %}">
    <link rel=" stylesheet" href="{% static './css/responsive.css' %}">
    <link rel="stylesheet" href="{% static './css/section.css' %}">
    <title>{% block title%}{% endblock title %}</title>
</head>

<body>
    <header class="center-row">
        <div class="logo" class="center-row">
            <a href="">
                <h2>Richard Dillard</h2>
            </a>
        </div>
        <nav class="nav-menu">
    </header>
    <input type="checkbox" id="checkbox">

    <div class="hamburger-btn">
        <label for="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-options center-row">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About me</a>
        <a href="">Projects</a>
        <a href="">Experience</a>
        <a href="">Contact me</a>
    </div>
    </nav>
    </header>

    {% block content %}
    {% endblock content %}
</body>

</html>